.console {
  position:relative;
  height:90%;
  border-collapse:collapse;

  max-width:800px;
  margin: 0 auto;
  overflow: scroll;
  padding-bottom: 50px;


  .console-input-container {
    position: fixed;
    bottom: 0px;
    background: #FFFFFF;
    height: 30px;

    width: 100%;

    .console-input {
      box-shadow: none;
      border-radius: none;
      border: none;
    }
  }
  input[type="text"]:focus {
    outline: none;
  }
}