.console {
  position:relative;
  height:100%;
  border-collapse:collapse;

  max-width:800px;
  margin: 0 auto;
  overflow: scroll;
  padding-bottom: 50px;


  .console-input-container {
    position: absolute;
    bottom: 0px;

    .console-input {
      box-shadow: none;
      border-radius: none;
      border: none;
    }
  }
  input[type="text"]:focus {
    outline: none;
  }
}